@font-face{
		font-family: 'Century Gothic';
	src: url('./Century Gothic, Regular.TTF');
	font-family: 'GOTHIC';
src:url(GOTHIC.TTF)
}

a{
	color: white;
		font-size: 15px;
		font-family: 'Century Gothic';
	padding: 10px;

}
a:hover{
	color: rgba(10,30,53,1.00);
}
nav{
	background-color: rgba(21,62,108,1.00);
	text-align: center;
	padding: 20px;
}
	#Accueil{
	width:auto;
	padding: 10px;
	text-align: center;
	height :auto 600px;
	}

	#Apropos {
	width:auto;
	padding: 10px;
	text-align:left;
	min-height :auto 600px;
	background-color: rgba(21,62,108,1.00);

	}

	#Formation{
		width:auto;
		text-align: left;
		min-height : 600px;
}
	#Competences {
	width:auto;
	text-align: left;
	min-height : 600px;
	background-color: rgba(21,62,108,1.00);
	}

	#Portfolio{
	width:auto;
	text-align: left;
	min-height: 600px}

	#Contact {
	width:auto;
	padding: 10px;
	text-align:left;
	background-color: rgba(21,62,108,1.00);
	}

		h1{
			color: rgba(21,62,108,1.00);
			font-size: 30px;
			font-family: 'Back to Black Demo';}
		h2{
			color: rgba(255,255,255,1.00);
			font-size: 30px;
			font-family: 'Back to Black Demo';}
		h3{
			color: rgba(255,255,255,1.00);
			font-size: 20px;
			font-family: 'AdineKirnberg';}

